# Kode Jupyter

## Simple Syntax

In [2]:
print("Hello kode")

Hello kode

In [4]:
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

## Using Library

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = pd.DataFrame(data=np.array([[1,2,3],[4,5,6]], dtype=int), columns = ['A', 'B', 'C'])
data

   A  B  C
0  1  2  3
1  4  5  6

## Using LaTex

$$c = \sqrt{a^2 + b^2}$$

In [7]:
from IPython.display import display, Math, Latex
display(Math(r'\sqrt{a^2 + b^2}'))

## Executing Shell Commands

In [8]:
!pwd

/home/dotachin/Hacktive-Python

## Pass value to and from shell

In [9]:
files = !ls
print(files)

['CrashCourse-Jupyter.ipynb', 'python-sesi1-DataStructure.ipynb']