# Classification Naive Bayes

In [19]:
#Assigning features and label variabel
weather = ['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny','Rainy','Sunny',
 'Overcast','Overcast','Rainy']
temp = ['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild']

play=['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No' ]

In [20]:
#Import labelEncoder
from sklearn import preprocessing

#creating label encoding
le= preprocessing.LabelEncoder()

#Converting string labels into numbers
weather_encode= le.fit_transform(weather)
print(weather_encode)

[2 2 0 1 1 1 0 2 2 1 2 0 0 1]

In [21]:
#converting string labels into number 
temp_encoded= le.fit_transform(temp)
label= le.fit_transform(play)

print("temp: ", temp_encoded)
print("label: ", label)

temp:  [1 1 1 2 0 0 0 2 0 2 2 2 1 2]
label:  [0 0 1 1 1 0 1 0 1 1 1 1 1 0]

In [22]:
#combining weather and temp into single list of tuple
features = list(zip(weather_encode, temp_encoded))
features

[(2, 1),
 (2, 1),
 (0, 1),
 (1, 2),
 (1, 0),
 (1, 0),
 (0, 0),
 (2, 2),
 (2, 0),
 (1, 2),
 (2, 2),
 (0, 2),
 (0, 1),
 (1, 2)]

In [23]:
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#create gaussian Classifier
model = GaussianNB()

#Train the model using training sets
model.fit(features,label)

#predict output
predicted= model.predict([[0,2]]) # 0 : Overcast, 2:Mild
print("Predicted Value: ", predicted)

Predicted Value:  [1]

## Naive Bayes Multiple Labels

In [ ]:
#import sklearn dataset library
from sklearn import datasets

loa

# Decision Tree

In [24]:
#load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [53]:
col_names=['Pregnant','glucose','bp','skin','insulin','bmi','pedigree','age','label']

#load dataset
diabetesDF=pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/diabetes.csv', header=1, names=col_names)

In [54]:
diabetesDF.head()

   Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0         1       85  66    29        0  26.6     0.351   31      0
1         8      183  64     0        0  23.3     0.672   32      1
2         1       89  66    23       94  28.1     0.167   21      0
3         0      137  40    35      168  43.1     2.288   33      1
4         5      116  74     0        0  25.6     0.201   30      0

In [55]:
diabetesDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pregnant  767 non-null    int64
 1   glucose   767 non-null    int64
 2   bp        767 non-null    int64
 3   skin      767 non-null    int64
 4   insulin   767 non-null    int64
 5   bmi       767 non-null    float64
 6   pedigree  767 non-null    float64
 7   age       767 non-null    int64
 8   label     767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [56]:
# numer=['pregnant','insulin','bmi','age','glucose','bp','pedigree','label']

for col in col_names:
    diabetesDF[col]=pd.to_numeric(diabetesDF[col], errors='coerce')

In [57]:
diabetesDF.dropna(inplace=True)

In [58]:
diabetesDF

     Pregnant  glucose  bp  skin  insulin   bmi  pedigree  age  label
0           1       85  66    29        0  26.6     0.351   31      0
1           8      183  64     0        0  23.3     0.672   32      1
2           1       89  66    23       94  28.1     0.167   21      0
3           0      137  40    35      168  43.1     2.288   33      1
4           5      116  74     0        0  25.6     0.201   30      0
..        ...      ...  ..   ...      ...   ...       ...  ...    ...
762        10      101  76    48      180  32.9     0.171   63      0
763         2      122  70    27        0  36.8     0.340   27      0
764         5      121  72    23      112  26.2     0.245   30      0
765         1      126  60     0        0  30.1     0.349   47      1
766         1       93  70    31        0  30.4     0.315   23      0

[767 rows x 9 columns]

In [59]:
#split dataset in features  and target variable
feature_cols= ['Pregnant','insulin','bmi','age','glucose','bp','pedigree','label']
independent= diabetesDF[feature_cols] #features
dependent = diabetesDF.label #target variable

In [67]:
#split dataset
x_train, x_test, y_train, y_test= train_test_split(independent, dependent, test_size=0.3, random_state=42) # training data 70% and 30% test

In [68]:
#create decision tree classifier object
model= DecisionTreeClassifier()

#Train decision Tree Classifier
trained_model= model.fit(x_train, y_train)

#predict response for test dataset
y_pred = trained_model.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1])

In [69]:
print("Accuracy: ", metrics.accuracy_score(y_pred, y_test))

Accuracy:  1.0

### visualizing Decision Trees

In [ ]:
import sklearn.tree as tree
from sklearn.externals.six import StringIO
import pydotplus
from IPython.display import Image

### iris_petal

In [73]:
import sklearn.datasets as datasets
from sklearn.ensemble import RandomForestClassifier
datasets= datasets.load_iris()

In [74]:
datasets.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [75]:
datasets.data[0:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [79]:
irisDF= pd.DataFrame({
    'sepal_length':datasets.data[:, 0],
    'sepal_width':datasets.data[:, 1],
    'petal_length':datasets.data[:, 2],
    'petal_width': datasets.data[:, 3],
    'spesies': datasets.target
    })

In [80]:
irisDF

     sepal_length  sepal_width  petal_length  petal_width  spesies
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [83]:
X_train, X_test, Y_train, Y_test = train_test_split(irisDF[["sepal_length",
                                                            "sepal_width", 
                                                            "petal_length",
                                                            "petal_width"]],
                                                    irisDF.spesies )


classifier = RandomForestClassifier(n_estimators=50)
classifier = classifier.fit(X_train, Y_train)
y_pred = classifier.predict(X_test)
y_pred

array([0, 1, 2, 2, 2, 2, 2, 0, 0, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 0,
       1, 2, 2, 2, 2, 1, 0, 0, 2, 2, 1, 0, 1, 1, 1, 2])

In [84]:
classifier

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [89]:
irisDF= pd.DataFrame({
    'sepal_length':datasets.data[:, 0],
    'petal_length':datasets.data[:, 1],
    'petal_width': datasets.data[:, 2],
    'spesies': datasets.target
    })

In [90]:
X_train, X_test, Y_train, Y_test = train_test_split(irisDF[["sepal_length",
                                                            "petal_length",
                                                            "petal_width"
                                                           ]],
                                                    irisDF.spesies )


classifier = RandomForestClassifier(n_estimators=50)
classifier = classifier.fit(X_train, Y_train)
y_pred = classifier.predict(X_test)
y_pred

array([2, 1, 2, 1, 1, 2, 2, 1, 2, 2, 0, 1, 2, 0, 1, 0, 0, 2, 1, 2, 2, 2,
       0, 0, 0, 1, 1, 1, 1, 1, 2, 0, 1, 0, 1, 1, 1, 2])

In [91]:
metrics.accuracy_score(y_pred, Y_test)

0.9736842105263158

In [94]:
feature_imp= pd.Series(classifier.feature_importances_, index =['sepal_length',
                                                               'petal_length',
                                                               'petal_width',
                                                               ]).sort_values(ascending=False)
feature_imp

petal_width     0.516516
sepal_length    0.333370
petal_length    0.150114
dtype: float64