In [1]:
i = 1
print(type(i))

<class 'int'>

In [6]:
no = 'this is my string'
i = 2
print(no * i)

this is my stringthis is my string

In [8]:
aboutme = {'name':'safira', 'hobbies':['movie','code']}
aboutme['hobbies'][0]

'movie'

### Integer

In [10]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [11]:
print(10)
print(type(10))

10
<class 'int'>

### Floating

In [12]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [13]:
# manipulate list value
myUpsideList = [10,9,8]
myUpsideList.append(6)
print(myUpsideList)

[10, 9, 8, 6]

In [15]:
myUpsideList[3]=7
myUpsideList

[10, 9, 8, 7]

In [16]:

myList = [10, 9, 8, 6, 7]
existVal = myList[3]
myList[3]= myList[4]
myList[4]=existVal

myList

[10, 9, 8, 7, 6]

In [1]:
x = [3,4,5]
print(x[::-1])

[5, 4, 3]

In [2]:
user1 = input("input list1 : ")
user2 = input("input lists 2: ")

user1 = list(user1)
user2 = list(user2)
list(set(user1) - set(user2))

input list1 : 1234
input lists 2: 2341

[]